.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0*0*0*0);
    overflow: hidden;
    opacity: 0;
  }
  .container1{
    margin: 0 auto ;
    max-width: 1440px;
    height: 230px;
    display: flex;
    background-color: #F4F4F4; 
  }
  .text1{
    width: 360px; 
    height: 230px;
    font-size: 16px;
    margin-top: 59px;
    margin-left: 150px;
    margin-right: 30px;
    font-family: 'Roboto-Regular'; 
    display: inline-block;
    text-align: center;
  }
  .text2{
    width: 360px;
    height: 230px;
    font-size: 16px;
    margin-top: 59px;
    font-family: 'Roboto-Regular'; 
    display: inline-block;
    text-align: center;
    
  }
  .text3{
    width: 360px;
    height: 230px;
    font-size: 16px;
    margin-top: 59px;
    margin-right: 150px;
    margin-left: 30px;
    font-family: 'Roboto-Regular'; 
    display: inline-block;
    text-align: center;
   
  }
  